/* debug */
/* .debug-prova-scroll{
  width: 300px;
  border: 3px solid black;
} */


/* regole generali */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: lightgrey;
  font-weight: 600;
}

.text-big{
  font-size: 1rem;
}

.text-bigger{
  font-size: 1.5rem
}

.small-text{
  font-size: 85%;
}

.white-text{
  color: white;
}


/* regole sidebar */
#sidebar{
  width: 200px;
  position: fixed;
  top: 0;
  background-color:black;
}

#sidebar .container-flex{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 10px 10px 10px 0;
}

#sidebar .container-flex>.flex-item:nth-child(3){
  margin-top: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

#sidebar .container-flex>.flex-item:first-child img{
  width: 80%;
  margin: 0 0 20px 10px;
}

#sidebar .container-flex>.flex-item:nth-child(3)>.white-text.text-big,
#sidebar hr{
  margin-left: 10px;
}

#sidebar .container-flex>.flex-item:nth-child(3) a i{
  background-color: lightgrey;
  padding: 10px;
  margin-right: 5px;
  color: black;
}

#sidebar .container-flex ul li{
  list-style-type: none;
}

.sidebar-item{
  display: flex;
  align-items: center;
  margin: 10px 0;
  color:inherit;
  text-decoration: none;
  padding-left: 10px;
}

.sidebar-icon{
  width: 15%;
  margin-right: 5px;
}

.sidebar-icon-small{
  width: 10%;
  margin-right: 5px;
}

#sidebar .container-flex>.flex-item:nth-child(4)>.sidebar-item:last-child>img{
  background-color: lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

#sidebar a:hover{
  color:white;
}

#sidebar a.sidebar-item:active{
  color:white;
  border-left: 2px solid #C8FF00;
}

/* display:flex per posizionare logo nascosto con order: -1 */
#sidebar .flex-item{
  display: flex;
  flex-direction: column;
}

.hidden-logo{
  display: none;
  order: -1;
  padding-left: 10px;
}


/* regole generali main */
main{
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-top: 120px;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  background-color:#141922;
}


/* regole prima sezione main: upgrade */
#upgrade{
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#upgrade a{
  position: absolute;
  background-color: transparent;
  right: 230px;
  top: 20px;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  transition: transform 0.3s;
}

#upgrade a:hover{
  transform: scale(1.1);
}

#upgrade a:active .daft-punk img{
  opacity: 1;
}

.daft-punk img{
  width: 100px;
  position: absolute;
  top:50%;
  left: calc(50% - 200px);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}


/* regole seconda sezione main: main-nav */
#main-nav ul{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

#main-nav ul li{
  list-style-type: none;
  margin-bottom: 25px;
}

#main-nav ul li a{
  color: inherit;
  text-decoration: none;
  position: relative;
}

#main-nav ul li a:hover{
  color:white;
}

#main-nav ul li a:hover:after{
  content:'';
  position: absolute;
  bottom: -2px;
  left: calc((100% - 30px) / 2);
  width: 30px;
  border-bottom: 2px solid #C8FF00;
}


/* regole terza sezione main */
main .container-flex{
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 20px;
  align-content: flex-start;
}

main .section-title{
  padding: 20px;
}

main .container-flex>.flex-item{
  flex-basis: calc((100% - 60px) / 6);
  flex-shrink: 1;
  margin-top: 20px;
  margin-right: 10px;
  /* debug */
  /* height: 150px; */
  /* border: 1px solid white; */
}

main .container-flex>.flex-item a{
  text-decoration: none;
}

main .content-pic{
  position: relative;
}

main .content-pic>.layover{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

main .flex-item:hover .content-pic>.layover{
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content-pic>.layover>i{
  font-size: 50px;
  color: white;
}

main .content-pic>img{
  width:100%;
}

main .song-title{
  text-align: center;
  color: lightgrey;
  margin-top: 10px;
}

main .song-title>p.small-text{
  margin-top: 5px;
}

#popular .content-pic img,
#popular .content-pic .layover{
  border-radius: 50%;
}


/* regole player */
#player{
  right: 0;
  position: fixed;
  bottom: 0;
  left:0;
  background-color: #282828;
}

#player .container-flex{
  display: flex;
  height: 100px;
  padding: 20px;
}

#player .container-flex>.flex-item{
  display: flex;
  align-items: center;
  /* debug */
  /* width: 100px; */
  /* height: 50px; */
  /* border: 1px solid red; */
}

#player .container-flex>.flex-item:first-child{
  flex-grow: 1;
}

#player .container-flex>.flex-item:nth-child(3){
  flex-grow: 10;
}

#player .container-flex>.flex-item:first-child img{
  width: 50px;
  margin-right: 10px;
}

#player .container-flex>.flex-item:nth-child(2) a{
  color: inherit;
  text-decoration: none;
  margin-right: 15px;
}

#player .container-flex>.flex-item:nth-child(2) a:hover{
  color: white;
}

#player .container-flex>.flex-item:nth-child(3){
  flex-direction: column;
}

#player .player-command button{
  background-color: transparent;
  border: none;
  margin:0 5px;
}

#player button:hover{
  transform: scale(1.1);
}

.player-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-grow: 2;
}

.progress-bar, .volume-bar{
  border-top: 3px solid lightgrey;
}

.progress-bar{
  margin: auto 20px;
  width: 50%;
}

.volume-bar{
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}


/* media query */
/* media query medium */
@media all and (max-width: 1200px) {

  #main-nav ul{
    flex-wrap: wrap;
    width: 90%;
  }

  #main-nav ul li{
    flex-basis: 20%;
  }

  main .container-flex{
    flex-wrap: wrap;
  }

  main .container-flex>.flex-item{
    flex-basis: calc((100% - 40px) / 4);
  }

}


/* media query small */
@media all and (max-width: 992px) {

  #main-nav ul li{
    flex-basis: 30%;
  }

  main .container-flex>.flex-item{
    flex-basis: calc((100% - 20px) / 2);
  }

  #player .container-flex>.flex-item:nth-child(2){
    flex-direction: column;
    justify-content: space-around;
  }

}


/* media query extra-small */
@media all and (max-width: 768px) {
  #sidebar{
    width: 50px;
  }

  main{
    width: calc(100% - 50px);
    margin-left: 50px;
  }

  #main-nav ul li{
    flex-basis: 25%;
  }

  main .container-flex>.flex-item{
    flex-basis: calc((100% - 20px) / 2);
  }

  .hidden-content-xs{
    display: none;
  }

  .sidebar-icon, #sidebar .container-flex>.flex-item:nth-child(4)>.sidebar-item:last-child>img{
    width: 30px;
    margin: auto;
  }

  .sidebar-icon-small{
    width: 20px;
    margin: auto;
  }

  .hidden-logo{
    display: block;
  }

  #upgrade a{
    right: 80px;
  }

  #player .container-flex>.flex-item:first-child img{
    width: 30px;
  }

  .volume-bar{
    width: 100px;
  }
}
