/* debug */
/* .debug-prova-scroll{
  width: 300px;
  border: 3px solid black;
} */


/* regole generali */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: lightgrey;
  font-weight: 600;
}

h2{
  color: white;
  margin-top: 20px;
}

h4{
  color: white;
  margin-top: 20px;
}

.text-big{
  font-size: 1rem;
}

.white-text{
  color: white;
}


/* regole sidebar */
#sidebar{
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color:black;
}

.container-flex-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
  padding: 10px 5px;
}

.container-flex-sidebar-item>div{
  /* debug */
  /* border: 1px solid white; */
  /* height: 50px; */
}

.container-flex-sidebar-item{
  display: flex;
  flex-direction: column;
}

.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:first-child img{
  width: 90%;
  margin-bottom: 20px;
}

.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(3){
  margin-top: 20px;
}

.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(2) ul li,
.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(4) ul li{
  list-style-type: none;
}

.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(2) ul li a,
.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(3) a,
.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(4) ul li a,
.container-flex-sidebar>.container-flex-sidebar-item:last-child>div:first-child a,
.container-flex-sidebar>.container-flex-sidebar-item:last-child>div:last-child{
  display: flex;
  align-items: center;
  margin: 10px 0;
  color:inherit;
  text-decoration: none;
}

.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(2) ul li img,
.container-flex-sidebar>.container-flex-sidebar-item:last-child>div:last-child>img{
  width: 15%;
  margin-right: 5px;
}

.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(3) a i{
  background-color: lightgrey;
  padding: 10px;
  margin-right: 5px;
  color: black;
}

.container-flex-sidebar>.container-flex-sidebar-item:last-child>div:first-child a img{
  width: 10%;
  margin-right: 5px;
}

.container-flex-sidebar>.container-flex-sidebar-item:last-child>div:last-child>img{
  background-color: lightgrey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#sidebar a:hover{
  color:white;
}

#sidebar a:active{
  color:white;
  border-left: 2px solid #C8FF00;
}

#sidebar>.container-flex-sidebar>.container-flex-sidebar-item:first-child>div:first-child a:active{
  border-left: 2px solid transparent;
}

.hidden-logo{
  width: 30px;
  margin: auto;
  display: none;
  order: -1;
}


/* regole generali main */
main{
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-top: 100px;
  overflow-y: scroll;
  height: calc(100vh - 100px);

  /* debug */
  background-color:red;
}


/* regole prima sezione main: upgrade */
#upgrade{
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  opacity: 0.5;
  background-color: #080B12;
  /* overflow: hidden; */
}


/* regole seconda sezione main: main-nav */
#main-nav ul{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

#main-nav ul li{
  list-style-type: none;
}


/* regole terza sezione main */
.container-flex-main{
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
  align-content: flex-start;
}

.container-flex-main>div{
  flex-basis: calc((100% - 60px) / 6);
  flex-shrink: 1;
  margin-top: 20px;
  margin-right: 10px;
  /* debug */
  height: 150px;
  border: 1px solid white;
}



/* regole player */
#player{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left:0;
  background-color: #282828;
}

.container-flex-player{
  display: flex;
  justify-content: space-between;
}

.container-flex-player>div{
  width: 100px;
  height: 50px;
  border: 1px solid red;
}



/* media query */
/* media query medium */
@media all and (max-width: 1200px) {

  #main-nav ul{
    flex-wrap: wrap;
  }

  #main-nav ul li{
    flex-basis: 20%;
  }

  .container-flex-main{
    flex-wrap: wrap;
  }

  .container-flex-main>div{
    flex-basis: calc((100% - 40px) / 4);
  }

}


/* media query small */
@media all and (max-width: 992px) {


  #main-nav ul li{
    flex-basis: 30%;
  }

  .container-flex-main>div{
    flex-basis: calc((100% - 20px) / 2);
  }

}


/* media query extra-small */
@media all and (max-width: 576px) {
  #sidebar{
    width: 50px;
  }

  main{
    width: calc(100% - 50px);
    margin-left: 50px;
  }

  #main-nav ul li{
    flex-basis: 25%;
  }

  .container-flex-main>div{
    flex-basis: calc((100% - 20px) / 2);
  }

  .hidden-content-xs{
    display: none;
  }

  .container-flex-sidebar>.container-flex-sidebar-item:first-child>div:nth-child(2) ul li img,
  .container-flex-sidebar>.container-flex-sidebar-item:last-child>div:last-child>img{
    width: 30px;
    margin: auto;
  }

  .hidden-logo{
    display: block;
  }

}
