*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

ul li{
  list-style-type: none;
}

.big-text{
  font-size: 1.5rem;
}

/* regole totali main */
main .flex-container{
  display: flex;
  height: calc(100vh - 100px);
  background-color: #C8FF00;
  overflow-y: hidden;
}

/* regole sidebar */
main .flex-container>section:first-child{
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

#sidebar>*{
  padding: 5px 0;
  /* debug */
  border: 1px solid black;
  /* flex-basis: 50px; */
}

#sidebar a{
  color: white;
  text-decoration: none;
}

#sidebar>div:first-child>a:first-child img{
  width: 80%;
}

#sidebar li img, #sidebar>div:first-child>a:last-child img {
  width: 30px;
}

#sidebar>div:first-child>a:last-child{
  display: none;
}

#sidebar a,#sidebar h2, #sidebar>div:last-child>div:last-child{
  padding:5px;
  display: flex;
  align-items: center;
}

#sidebar li:hover,
#sidebar>div:last-child>div:first-child:hover{
  border-left: 2px solid #C8FF00;
}

#sidebar>div:nth-child(3){
  flex-grow: 1;
  overflow-y: auto;
}

#sidebar .playlist-create{
  display: flex;
  align-items: center;
}

#sidebar .playlist-create>i{
  background-color: white;
  color: black;
  padding: 10px;
}

#sidebar .line{
  border-top: 1px solid lightgrey;
  margin: 5px;
  width: 200px;
}

#sidebar>div:last-child img.small-icon{
  width: 20px;
}

#sidebar>div:last-child>div>*{
  display: flex;
  align-items: center;
}

#sidebar>div:nth-child(3) ul li:first-child h3,#sidebar>div:last-child>div>* span{
  margin-left: 5px;
}

#sidebar>div:last-child>div:last-child img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: lightgrey;
}



/* regole parte centrale */
/* regole generali */
main .flex-container>section:last-child{
  flex-grow: 1;
  background-color: grey;
  display: flex;
  flex-direction: column;
  position: relative;
}


/* regole barra upgrade */
#central-body>div:first-child{
  min-height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  z-index:9;
}

#central-body>div:first-child a{
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

#central-body>div:first-child a:hover{
  transform: scale(1.1);
}


/* regola generale scroll nav+contenuti */
#central-body>div:last-child{
  flex-grow: 1;
  overflow-y: auto;
}


/* regole nav in alto */
#central-body>div:last-child>nav>ul{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#central-body>div:last-child>nav>ul li{
  list-style-type: none;
  border: 1px solid black;
  margin: 0 20px 20px 0;
  text-transform: uppercase;
}

#central-body>div:last-child>nav>ul li a{
  color: white;
  text-decoration: none;
  position: relative;
}

#central-body>div:last-child>nav>ul li a.active:after{
  content:'';
  position: absolute;
  bottom: -3px;
  left: calc(50% - 15px);
  width: 30px;
  border-bottom: 2px solid #C8FF00;
}


/* regole contenuti centrali */
#central-body>div:last-child .row{
  padding: 20px;
  border: 1px solid black;
}

#central-body>div:last-child .row>div:first-child{
  padding-bottom: 20px;
}

#central-body>div:last-child .row ul{
  display: flex;
  flex-wrap: wrap;
}

#central-body>div:last-child .row ul li{
  list-style-type: none;
  border: 1px solid #C8FF00;
  text-align: center;
  flex-basis: calc(100% / 6);
  padding: 10px;
}

#central-body>div:last-child .row ul li>div{
  position: relative;
}

#central-body>div:last-child .row ul li>div i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  display: none;
}

#central-body>div:last-child .row ul li>div:hover>*{
  display: inline-block;
  filter: grayscale(0.8);
}

#central-body>div:last-child .row ul li>div,
#central-body .row ul li>div img{
  width: 100%;
}

#central-body>div:last-child .row:last-child li>div img{
  border-radius: 50%;
}


/* regole player */
footer{
  background-color: blue;
  height: 100px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.progress{
  width: 30vw;
  margin: 0 10px;
  border-top: 3px solid gray;
  position: relative;
}

.progress-small{
  width: 5vw;
  margin: 0 10px;
  border-top: 3px solid gray;
  position: relative;
}

.avanzamento{
  position: absolute;
  border-top: 3px solid white;
  width: 4vw;
  top: -3px;
}

.pallino{
  position: absolute;
  left: calc(4vw - 7.5px);
  top: -9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  color: white;
  display: none;
}

.progress:hover .avanzamento, .progress-small:hover .avanzamento{
  border-top: 3px solid yellow;
}

.progress:hover .pallino, .progress-small:hover .pallino{
  display: block;
}

footer>div{
  /* debug */
  /* width: 300px;
  height: 50px; */
  border: 1px solid red;
}

footer>div:first-child,
footer>div:first-child>div:first-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer>div:first-child>div:last-child{
  margin-left: 1vw;
}

footer img{
  width: 50px;
}

footer i{
  padding: 0 5px;
}

footer>div:nth-child(2){
  display: flex;
  flex-direction: column;
  background-color: green;
}

footer>div:nth-child(2)>div:first-child{
  text-align: center;
}

footer>div:nth-child(2) i:hover,
footer>div:last-child i:hover{
  transform: scale(1.2);
}

footer>div:nth-child(2)>div:nth-child(2){
  display: flex;
  align-items: center;
  flex-grow: 2;
  margin-top: 10px;
}

footer>div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* media query */
@media all and (max-width: 576px) {
  main .flex-container>section:first-child{
    align-items:center;
  }

  #sidebar>div:first-child>a:last-child{
    display: block;
  }

  #sidebar .hidden-content-xs{
    display: none;
  }

  footer img{
    width: 30px;
  }
}
